<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>introdução ao node.js e expresse.js</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Olá, Mundo!</h1>
    <p>Bem-vindo ao meu site usando Node.js e Express.js</p>

    <ul>
        <li><a href="/produtos">Produtos</a></li>
        <li><a href="/clientes">Clientes</a></li>
        <li><a href="/perfil">Perfil</a></li>
    </ul>

    <img src="/imgs/charles_henriquepedia.jpg" alt="Imagem do charles_henriquepedia">
    
</body>
<script src="js/script.js"></script>
</html>