<%- include('partials/header.ejs') %>

    <h1>Olá, Mundo!</h1>
    <p>Bem-vindo ao meu site usando Node.js e Express.js</p>

    <img src="/imgs/charles_henriquepedia.jpg" alt="Imagem do charles_henriquepedia">
<%- include('partials/footer.ejs') %>