<%- include('partials/header.ejs') %>
    <%# isso é um comentario no EJS %>
    
    <p>Bem vindo(a) <%= user %> ao seu perfil</p>
    <li><a href="/">Home</a></li>
<%- include('partials/footer.ejs') %>